@charset "UTF-8";
.main {
	margin: auto;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.button{
	border: 1px solid lightgray;
    background-color: skyblue;
    color: white;
    border-radius: 3px;
    
}

.button:hover{
	background-color: cornflowerblue;
	color: white;
	border: 1px solid lightgray;	
}

td{
	text-align: right;
	font-family: 'DynaPuff', cursive
}